Repository GuiBibeau/photon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add tasks for SPL
  tasks.md
Due: none

feat: add tasks for SPL (#118)
  tasks.md
Due: none

feat(spl-token): implement SDK-57 - comprehensive token types and constants
  packages/spl-token/package.json
  packages/spl-token/src/index.ts
  packages/spl-token/src/instructions.ts
  packages/spl-token/src/types.ts
  packages/spl-token/tests/instructions.test.ts
  packages/spl-token/tests/types.test.ts
  packages/spl-token/tsup.config.ts
  tasks.md
Due: eslint --fix, prettier --write

fix: resolve remaining conflict markers in tasks.md
  tasks.md
Due: none

Sdk 57/token constants types (#119)
  packages/spl-token/package.json
  packages/spl-token/src/index.ts
  packages/spl-token/src/instructions.ts
  packages/spl-token/src/types.ts
  packages/spl-token/tests/instructions.test.ts
  packages/spl-token/tests/types.test.ts
  packages/spl-token/tsup.config.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(spl-token): implement SPL Token codecs with Token-2022 support
  packages/spl-token/package.json
  packages/spl-token/src/codecs/accounts.ts
  packages/spl-token/src/codecs/extensions.ts
  packages/spl-token/src/codecs/instructions.ts
  packages/spl-token/src/codecs/program-detection.ts
  packages/spl-token/src/codecs/tlv.ts
  packages/spl-token/src/index.ts
  packages/spl-token/src/instructions.ts
  packages/spl-token/tests/codecs/accounts.test.ts
  packages/spl-token/tests/codecs/extensions.test.ts
  packages/spl-token/tests/codecs/instructions.test.ts
  packages/spl-token/tests/codecs/program-detection.test.ts
  packages/spl-token/tests/codecs/tlv.test.ts
  packages/spl-token/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(spl-token): resolve TypeScript and Address type issues in codecs
  packages/spl-token/src/codecs/accounts.ts
  packages/spl-token/src/codecs/extensions.ts
  packages/spl-token/src/codecs/instructions.ts
  packages/spl-token/src/codecs/program-detection.ts
  packages/spl-token/src/codecs/tlv.ts
  packages/spl-token/src/types.ts
Due: eslint --fix, prettier --write

feat: implement SPL Token package with instruction builders and ATA utilities
  packages/spl-token/package.json
  packages/spl-token/src/ata.ts
  packages/spl-token/src/helpers.ts
  packages/spl-token/src/index.ts
  packages/spl-token/src/instructions.ts
  packages/spl-token/src/types.ts
  packages/spl-token/tests/ata-mock.test.ts
  packages/spl-token/tests/instructions.test.ts
  packages/spl-token/tests/integration.test.ts
  packages/spl-token/tsconfig.json
  packages/spl-token/tsup.config.ts
  packages/spl-token/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add demo application for testing SDK functionality
  packages/demo-app/.gitignore
  packages/demo-app/README.md
  packages/demo-app/eslint.config.js
  packages/demo-app/index.html
  packages/demo-app/package.json
  packages/demo-app/packages/demo-app/README.md
  packages/demo-app/public/vite.svg
  packages/demo-app/run-demo.sh
  packages/demo-app/src/App.css
  packages/demo-app/src/App.tsx
  packages/demo-app/src/assets/react.svg
  packages/demo-app/src/components/RpcDemo.tsx
  packages/demo-app/src/components/TokenDemo.tsx
  packages/demo-app/src/components/UnifiedDashboard.tsx
  packages/demo-app/src/components/WalletDemo.tsx
  packages/demo-app/src/context/AppContext.tsx
  packages/demo-app/src/index.css
  packages/demo-app/src/main.tsx
  packages/demo-app/src/styles/BentoGrid.css
  packages/demo-app/src/utils/faucet.ts
  packages/demo-app/src/utils/storage.ts
  packages/demo-app/src/vite-env.d.ts
  packages/demo-app/tsconfig.app.json
  packages/demo-app/tsconfig.json
  packages/demo-app/tsconfig.node.json
  packages/demo-app/vite.config.ts
Due: eslint --fix, prettier --write

refactor: rename demo-app to e2e-tests and add Playwright setup
  packages/e2e-tests/.gitignore
  packages/e2e-tests/README.md
  packages/e2e-tests/eslint.config.js
  packages/e2e-tests/index.html
  packages/e2e-tests/package.json
  packages/e2e-tests/packages/demo-app/README.md
  packages/e2e-tests/playwright.config.ts
  packages/e2e-tests/public/vite.svg
  packages/e2e-tests/run-demo.sh
  packages/e2e-tests/src/App.css
  packages/e2e-tests/src/App.tsx
  packages/e2e-tests/src/assets/react.svg
  packages/e2e-tests/src/components/RpcDemo.tsx
  packages/e2e-tests/src/components/TokenDemo.tsx
  packages/e2e-tests/src/components/UnifiedDashboard.tsx
  packages/e2e-tests/src/components/WalletDemo.tsx
  packages/e2e-tests/src/context/AppContext.tsx
  packages/e2e-tests/src/index.css
  packages/e2e-tests/src/main.tsx
  packages/e2e-tests/src/styles/BentoGrid.css
  packages/e2e-tests/src/utils/faucet.ts
  packages/e2e-tests/src/utils/storage.ts
  packages/e2e-tests/src/vite-env.d.ts
  packages/e2e-tests/tests/app.spec.ts
  packages/e2e-tests/tsconfig.app.json
  packages/e2e-tests/tsconfig.json
  packages/e2e-tests/tsconfig.node.json
  packages/e2e-tests/vite.config.ts
Due: eslint --fix, prettier --write

docs: add comprehensive README documentation for all packages
  packages/accounts/README.md
  packages/addresses/README.md
  packages/codecs/README.md
  packages/crypto/README.md
  packages/errors/README.md
  packages/signers/README.md
  packages/spl-token/README.md
  packages/transaction-messages/README.md
  packages/transactions/README.md
Due: none

feat: enhance SPL Token and addresses packages with PDA improvements
  packages/addresses/src/index.ts
  packages/addresses/src/pda.ts
  packages/addresses/tests/index.test.ts
  packages/addresses/tests/pda.test.ts
  packages/spl-token/src/ata.ts
  packages/spl-token/src/index.ts
  packages/spl-token/src/instructions.ts
  packages/spl-token/tests/ata-mock.test.ts
  packages/spl-token/tests/instructions.test.ts
  packages/spl-token/tests/integration.test.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: eslint --fix, prettier --write

feat: add wallet import and fix PDA validation in e2e-tests and addresses packages
  packages/addresses/src/pda.ts
  packages/e2e-tests/.env.example
  packages/e2e-tests/.gitignore
  packages/e2e-tests/README.md
  packages/e2e-tests/WALLET_IMPORT_FIX.md
  packages/e2e-tests/src/components/TokenDemo.tsx
  packages/e2e-tests/src/components/UnifiedDashboard.tsx
  packages/e2e-tests/src/context/AppContext.tsx
  packages/e2e-tests/src/utils/wallet-import.ts
Due: eslint --fix, prettier --write

fix: resolve React linting errors in e2e-tests package
  packages/e2e-tests/eslint.config.js
  packages/e2e-tests/src/components/UnifiedDashboard.tsx
  packages/e2e-tests/src/context/AppContext.tsx
  packages/e2e-tests/src/context/AppContextTypes.ts
  packages/e2e-tests/src/context/useApp.ts
  packages/integration/.eslintrc.json
Due: eslint --fix, prettier --write

style: fix prettier formatting issues
  packages/e2e-tests/README.md
  packages/e2e-tests/WALLET_IMPORT_FIX.md
  packages/e2e-tests/src/App.css
  packages/e2e-tests/src/styles/BentoGrid.css
Due: none

feat: add comprehensive e2e tests with GitHub Actions workflow
  .github/workflows/e2e-tests.yml
  packages/e2e-tests/E2E_TEST_GUIDE.md
  packages/e2e-tests/GITHUB_ACTION_SETUP.md
  packages/e2e-tests/package.json
  packages/e2e-tests/playwright.config.ts
  packages/e2e-tests/run-e2e-tests.sh
  packages/e2e-tests/tests/simple-wallet.spec.ts
  packages/e2e-tests/tests/token-basic.spec.ts
  packages/e2e-tests/tests/wallet-basic.spec.ts
Due: eslint --fix, prettier --write

fix: handle incompatible lockfile in CI
  .github/workflows/e2e-tests.yml
Due: prettier --write

feat: Add comprehensive e2e tests with GitHub Actions workflow (#127)
  .github/workflows/e2e-tests.yml
  packages/e2e-tests/E2E_TEST_GUIDE.md
  packages/e2e-tests/GITHUB_ACTION_SETUP.md
  packages/e2e-tests/package.json
  packages/e2e-tests/playwright.config.ts
  packages/e2e-tests/run-e2e-tests.sh
  packages/e2e-tests/tests/simple-wallet.spec.ts
  packages/e2e-tests/tests/token-basic.spec.ts
  packages/e2e-tests/tests/wallet-basic.spec.ts
Due: eslint --fix, prettier --write

perf: use faster 'processed' commitment level for better UX
  packages/e2e-tests/src/components/UnifiedDashboard.tsx
Due: eslint --fix, prettier --write

docs: mark completed tasks with checkmarks in tasks.md
  tasks.md
Due: none

chore: remove build consistency report and add react tasks tracking
  BUILD_CONSISTENCY_REPORT.md
  react-tasks.md
Due: none

Cleanup and performance improvements for e2e tests (#128)
  BUILD_CONSISTENCY_REPORT.md
  packages/e2e-tests/src/components/UnifiedDashboard.tsx
  react-tasks.md
  tasks.md
Due: eslint --fix, prettier --write

feat: scaffold @photon/react package structure
  packages/react/README.md
  packages/react/package.json
  packages/react/src/hooks/balance.ts
  packages/react/src/hooks/defi.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/tokens.ts
  packages/react/src/hooks/transaction.ts
  packages/react/src/hooks/wallet.ts
  packages/react/src/index.ts
  packages/react/src/providers.ts
  packages/react/src/types.ts
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/detector.ts
  packages/react/src/wallet/index.ts
  packages/react/src/wallet/mobile.ts
  packages/react/tsconfig.json
  packages/react/tsup.config.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test: add initial tests for React package
  packages/react/src/wallet/mobile.ts
  packages/react/tests/setup.test.ts
  packages/react/tests/types.test.ts
  packages/react/tests/wallet-detector.test.ts
  packages/react/tests/wallet-mobile.test.ts
Due: eslint --fix, prettier --write

fix: resolve type export conflicts in React package
  packages/react/src/index.ts
Due: eslint --fix, prettier --write

Feat/e2e tests enhancements (#130)
  BUILD_CONSISTENCY_REPORT.md
  packages/e2e-tests/src/components/UnifiedDashboard.tsx
  react-tasks.md
  tasks.md
Due: eslint --fix, prettier --write

feat: review tasks for only direct mobile support for now
  react-tasks.md
Due: none

feat: add @photon/react package scaffolding (#129)
  packages/react/README.md
  packages/react/package.json
  packages/react/src/hooks/balance.ts
  packages/react/src/hooks/defi.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/tokens.ts
  packages/react/src/hooks/transaction.ts
  packages/react/src/hooks/wallet.ts
  packages/react/src/index.ts
  packages/react/src/providers.ts
  packages/react/src/types.ts
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/detector.ts
  packages/react/src/wallet/index.ts
  packages/react/src/wallet/mobile.ts
  packages/react/tests/setup.test.ts
  packages/react/tests/types.test.ts
  packages/react/tests/wallet-detector.test.ts
  packages/react/tests/wallet-mobile.test.ts
  packages/react/tsconfig.json
  packages/react/tsup.config.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
  react-tasks.md
Due: eslint --fix, prettier --write

feat(react): implement comprehensive wallet provider interfaces (RW-1)
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/react/src/wallet/detector.ts
  packages/react/src/wallet/index.ts
  packages/react/src/wallet/mobile-types.ts
  packages/react/src/wallet/security-types.ts
  packages/react/src/wallet/signer-adapter.ts
  packages/react/src/wallet/standard-types.ts
  packages/react/tests/types.test.ts
  packages/react/tests/wallet-mobile-types.test.ts
  packages/react/tests/wallet-security.test.ts
  packages/react/tests/wallet-signer-adapter.test.ts
  packages/react/tests/wallet-standard.test.ts
Due: eslint --fix, prettier --write

docs: add critical guidelines about never adding co-author attribution
  CLAUDE.md
Due: none

fix: resolve duplicate variable declarations in wallet-signer-adapter test
  packages/react/tests/wallet-signer-adapter.test.ts
Due: eslint --fix, prettier --write

feat(react): implement wallet provider interfaces (RW-1) (#131)
  CLAUDE.md
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/react/src/wallet/detector.ts
  packages/react/src/wallet/index.ts
  packages/react/src/wallet/mobile-types.ts
  packages/react/src/wallet/security-types.ts
  packages/react/src/wallet/signer-adapter.ts
  packages/react/src/wallet/standard-types.ts
  packages/react/tests/types.test.ts
  packages/react/tests/wallet-mobile-types.test.ts
  packages/react/tests/wallet-security.test.ts
  packages/react/tests/wallet-signer-adapter.test.ts
  packages/react/tests/wallet-standard.test.ts
Due: eslint --fix, prettier --write

mark RW-1 as completed
  react-tasks.md
Due: none

feat: implement comprehensive wallet detector (RW-2)
  packages/react/src/wallet/detector.ts
  packages/react/tests/wallet-detector.test.ts
  react-tasks.md
Due: eslint --fix, prettier --write

fix: make CI success job wait for e2e tests to complete
  .github/workflows/ci.yml
Due: prettier --write

feat: implement comprehensive wallet detector (RW-2) (#132)
  .github/workflows/ci.yml
  packages/react/src/wallet/detector.ts
  packages/react/tests/wallet-detector.test.ts
  react-tasks.md
Due: eslint --fix, prettier --write

feat(react): implement wallet connection manager (RW-3)
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/security-types.ts
  packages/react/src/wallet/security.ts
  packages/react/src/wallet/session-storage.ts
  packages/react/tests/wallet-connection.test.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors with exactOptionalPropertyTypes
  packages/e2e-tests/after-balance-check.png
  packages/e2e-tests/after-sign.png
  packages/e2e-tests/after-token-creation.png
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/security.ts
Due: eslint --fix, prettier --write

feat(react): implement wallet connection manager (RW-3) (#133)
  packages/e2e-tests/after-balance-check.png
  packages/e2e-tests/after-sign.png
  packages/e2e-tests/after-token-creation.png
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/security-types.ts
  packages/react/src/wallet/security.ts
  packages/react/src/wallet/session-storage.ts
  packages/react/tests/wallet-connection.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs,json,yml,yaml})
