Repository GuiBibeau/photon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(react): implement useWallet hook (RW-4)
  packages/react/package.json
  packages/react/src/hooks/wallet.ts
  packages/react/src/providers.ts
  packages/react/tests/hooks/wallet.test.ts
  pnpm-lock.yaml
  react-tasks.md
Due: eslint --fix, prettier --write

docs: mark RW-3 as completed in react-tasks.md
  react-tasks.md
Due: none

test: fix failing wallet hook tests
  packages/react/tests/hooks/wallet.test.ts
Due: eslint --fix, prettier --write

test: skip flaky auto-connect test to fix test suite timeout
  packages/react/tests/hooks/wallet.test.ts
Due: eslint --fix, prettier --write

feat(react): implement useWallet hook (RW-4) (#134)
  packages/react/package.json
  packages/react/src/hooks/wallet.ts
  packages/react/src/providers.ts
  packages/react/tests/hooks/wallet.test.ts
  pnpm-lock.yaml
  react-tasks.md
Due: eslint --fix, prettier --write

feat(react): implement auto-connect logic (RW-5)
  packages/e2e-tests/package.json
  packages/e2e-tests/src/App.tsx
  packages/e2e-tests/src/pages/WalletTestPage.tsx
  packages/react/README.md
  packages/react/src/hooks/wallet.ts
  packages/react/src/providers.ts
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/detector.ts
  packages/react/tests/hooks/wallet.test.ts
  pnpm-lock.yaml
  react-tasks.md
Due: eslint --fix, prettier --write

feat(react): implement auto-connect logic (RW-5) (#135)
  packages/e2e-tests/package.json
  packages/e2e-tests/src/App.tsx
  packages/e2e-tests/src/pages/WalletTestPage.tsx
  packages/react/README.md
  packages/react/src/hooks/wallet.ts
  packages/react/src/providers.ts
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/detector.ts
  packages/react/tests/hooks/wallet.test.ts
  pnpm-lock.yaml
  react-tasks.md
Due: eslint --fix, prettier --write

chore: reorganize React wallet SDK tasks for optimal implementation order
  react-tasks.md
Due: none

chore: reorganize React wallet SDK tasks for optimal implementation order (#136)
  react-tasks.md
Due: none

Update README.md
  README.md
Due: none

feat(spl-token): implement InitializeMultisig instruction (SPL-1)
  .claude/agents/solana-protocol-utilities.md
  packages/spl-token/package.json
  packages/spl-token/src/index.ts
  packages/spl-token/src/instructions.ts
  packages/spl-token/src/types.ts
  packages/spl-token/tests/multisig.test.ts
  pnpm-lock.yaml
  spl-token-tasks.md
Due: eslint --fix, prettier --write

docs: mark SPL-1 InitializeMultisig instruction as completed
  spl-token-tasks.md
Due: none

feat(spl-token): implement InitializeMultisig instruction (SPL-1) (#137)
  .claude/agents/solana-protocol-utilities.md
  packages/spl-token/package.json
  packages/spl-token/src/index.ts
  packages/spl-token/src/instructions.ts
  packages/spl-token/src/types.ts
  packages/spl-token/tests/multisig.test.ts
  pnpm-lock.yaml
  spl-token-tasks.md
Due: eslint --fix, prettier --write

feat(react): implement comprehensive wallet verification (RW-6)
  packages/react/package.json
  packages/react/src/wallet/index.ts
  packages/react/src/wallet/security.ts
  packages/react/src/wallet/verification.ts
  packages/react/tests/wallet-verification.test.ts
  packages/react/tsup.config.ts
Due: eslint --fix, prettier --write

feat(react): implement comprehensive wallet verification (RW-6) (#138)
  packages/react/package.json
  packages/react/src/wallet/index.ts
  packages/react/src/wallet/security.ts
  packages/react/src/wallet/verification.ts
  packages/react/tests/wallet-verification.test.ts
  packages/react/tsup.config.ts
Due: eslint --fix, prettier --write

docs: mark RW-6 wallet verification as completed
  react-tasks.md
Due: none

feat(react): add connection rate limiting (RW-7)
  packages/react/src/components/RateLimitDisplay.tsx
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/rate-limiter.ts
  packages/react/tests/rate-limiter.test.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript error with errorCode property
  packages/react/src/wallet/connection.ts
Due: eslint --fix, prettier --write

feat(react): add connection rate limiting (RW-7) (#139)
  packages/react/src/components/RateLimitDisplay.tsx
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/rate-limiter.ts
  packages/react/tests/rate-limiter.test.ts
Due: eslint --fix, prettier --write

docs: mark RW-7 as complete
  react-tasks.md
Due: none

feat(react): implement transaction signer hook (RW-8)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/transaction-signer.ts
  packages/react/tests/transaction-signer.test.ts
Due: eslint --fix, prettier --write

fix: rename test file to .tsx for JSX support
  packages/react/tests/transaction-signer.test.tsx
Due: eslint --fix, prettier --write

fix: update tests for transaction signer
  packages/react/tests/transaction-signer.test.tsx
Due: eslint --fix, prettier --write

fix: resolve linting and test issues
  packages/react/tests/transaction-signer.test.ts
Due: eslint --fix, prettier --write

fix: correct package.json main field for transactions package
  packages/transactions/package.json
Due: prettier --write

fix: mock transactions module completely in tests
  packages/react/tests/transaction-signer.test.ts
Due: eslint --fix, prettier --write

fix(ci): add build step before running tests
  .github/workflows/ci.yml
Due: prettier --write

feat(react): implement transaction signer hook (RW-8) (#140)
  .github/workflows/ci.yml
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/transaction-signer.ts
  packages/react/tests/transaction-signer.test.ts
  packages/transactions/package.json
Due: eslint --fix, prettier --write

feat(react): implement message signing hook (RW-9)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/message-signing.ts
  packages/react/tests/message-signing.test.ts
Due: eslint --fix, prettier --write

feat(react): implement message signing hook (RW-9) (#141)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/message-signing.ts
  packages/react/tests/message-signing.test.ts
Due: eslint --fix, prettier --write

chore: mark RW-8 and RW-9 as completed in react-tasks.md
  react-tasks.md
Due: none

feat(react): implement useBalance hook with RPC integration (RW-10)
  packages/react/src/hooks/balance.ts
  packages/react/src/providers.ts
  packages/react/tests/hooks/balance.test.ts
Due: eslint --fix, prettier --write

feat(react): implement useBalance hook and improve e2e tests (RW-10)
  packages/e2e-tests/package.json
  packages/e2e-tests/src/App.tsx
  packages/e2e-tests/src/pages/MinimalExample.tsx
  packages/e2e-tests/src/pages/WalletTestPage.tsx
  packages/e2e-tests/src/routeTree.gen.ts
  packages/e2e-tests/src/routes/__root.tsx
  packages/e2e-tests/src/routes/index.tsx
  packages/e2e-tests/src/routes/minimal.tsx
  packages/e2e-tests/src/routes/wallet-test.tsx
  packages/e2e-tests/tests/README.md
  packages/e2e-tests/tests/wallet-auto-connect.spec.ts
  packages/e2e-tests/tests/wallet-connection.spec.ts
  packages/e2e-tests/tests/wallet-disconnect-persistence.spec.ts
  packages/react/src/hooks/balance.ts
  packages/react/src/hooks/wallet.ts
  packages/react/src/providers.ts
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/detector.ts
  packages/react/src/wallet/session-storage.ts
  packages/react/tests/hooks/balance.test.ts
  packages/react/tests/hooks/wallet.test.ts
  packages/react/tests/message-signing.test.ts
  packages/react/tests/transaction-signer.test.ts
  packages/react/tests/wallet-connection.test.ts
  packages/react/tests/wallet-detector.test.ts
  packages/react/tests/wallet-signer-adapter.test.ts
  packages/react/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add turbo build system and remove wallet extension e2e tests
  package.json
  packages/e2e-tests/tests/token-basic.spec.ts
  packages/e2e-tests/tests/wallet-auto-connect.spec.ts
  packages/e2e-tests/tests/wallet-basic.spec.ts
  packages/e2e-tests/tests/wallet-connection.spec.ts
  packages/e2e-tests/tests/wallet-disconnect-persistence.spec.ts
  packages/react/src/hooks/balance.ts
  packages/react/src/hooks/wallet.ts
  packages/react/src/providers.ts
  packages/react/src/wallet/session-storage.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

fix: remove pnpm version from CI workflow to use packageManager field
  .github/workflows/ci.yml
Due: prettier --write

fix: remove explicit any type in WalletTestPage
  packages/e2e-tests/src/pages/WalletTestPage.tsx
Due: eslint --fix, prettier --write

fix: add format task to turbo.json for CI compatibility
  turbo.json
Due: prettier --write

feat(react): implement useBalance hook (RW-10) (#142)
  .github/workflows/ci.yml
  package.json
  packages/e2e-tests/package.json
  packages/e2e-tests/src/App.tsx
  packages/e2e-tests/src/pages/MinimalExample.tsx
  packages/e2e-tests/src/pages/WalletTestPage.tsx
  packages/e2e-tests/src/routeTree.gen.ts
  packages/e2e-tests/src/routes/__root.tsx
  packages/e2e-tests/src/routes/index.tsx
  packages/e2e-tests/src/routes/minimal.tsx
  packages/e2e-tests/src/routes/wallet-test.tsx
  packages/e2e-tests/tests/README.md
  packages/e2e-tests/tests/token-basic.spec.ts
  packages/e2e-tests/tests/wallet-basic.spec.ts
  packages/react/src/hooks/balance.ts
  packages/react/src/hooks/wallet.ts
  packages/react/src/providers.ts
  packages/react/src/wallet/connection.ts
  packages/react/src/wallet/detector.ts
  packages/react/src/wallet/session-storage.ts
  packages/react/tests/hooks/balance.test.ts
  packages/react/tests/hooks/wallet.test.ts
  packages/react/tests/message-signing.test.ts
  packages/react/tests/transaction-signer.test.ts
  packages/react/tests/wallet-connection.test.ts
  packages/react/tests/wallet-detector.test.ts
  packages/react/tests/wallet-signer-adapter.test.ts
  packages/react/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs,json,yml,yaml})
