Repository GuiBibeau/photon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,mjs,cjs,json,yml,yaml}": ["prettier --write"]
}

feat: configure CI/CD pipeline for SDK-7
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .nvmrc
  TESTING.md
Due: prettier --write

fix: correct pnpm version in CI workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier --write

feat: drop Node.js 18 support and update CI matrix
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  package.json
  tasks.md
Due: prettier --write

fix: remove codecov integration from ci workflow
  .github/workflows/ci.yml
Due: prettier --write

feat: configure CI/CD pipeline for SDK-7 (#63)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .nvmrc
  CLAUDE.md
  README.md
  TESTING.md
  package.json
  tasks.md
Due: prettier --write

Add CRUSH.md and update .gitignore for CRUSH AI coding CLI setup
  .gitignore
  CRUSH.md
Due: none

Add CRUSH.md and update .gitignore for CRUSH AI coding CLI setup (#65)
  .gitignore
  CRUSH.md
Due: none

feat: implement SolanaError class and standardize build process
  packages/accounts/package.json
  packages/accounts/tsup.config.ts
  packages/addresses/package.json
  packages/addresses/tsup.config.ts
  packages/codecs/package.json
  packages/codecs/tsup.config.ts
  packages/crypto/package.json
  packages/crypto/tsup.config.ts
  packages/errors/package.json
  packages/errors/src/codes.ts
  packages/errors/src/error.ts
  packages/errors/src/factories.ts
  packages/errors/src/index.ts
  packages/errors/tests/error.test.ts
  packages/errors/tests/factories.test.ts
  packages/errors/tests/index.test.ts
  packages/errors/tsup.config.ts
  packages/rpc-subscriptions/package.json
  packages/rpc-subscriptions/tsup.config.ts
  packages/rpc/package.json
  packages/rpc/tsup.config.ts
  packages/signers/package.json
  packages/signers/tsup.config.ts
  packages/sysvars/package.json
  packages/sysvars/tsup.config.ts
  packages/transaction-messages/package.json
  packages/transaction-messages/tsup.config.ts
  packages/transactions/package.json
  packages/transactions/tsup.config.ts
  tasks.md
Due: eslint --fix, prettier --write

SDK-9: Implement comprehensive SolanaError class with error handling framework (#66)
  packages/accounts/package.json
  packages/accounts/tsup.config.ts
  packages/addresses/package.json
  packages/addresses/tsup.config.ts
  packages/codecs/package.json
  packages/codecs/tsup.config.ts
  packages/crypto/package.json
  packages/crypto/tsup.config.ts
  packages/errors/package.json
  packages/errors/src/codes.ts
  packages/errors/src/error.ts
  packages/errors/src/factories.ts
  packages/errors/src/index.ts
  packages/errors/tests/error.test.ts
  packages/errors/tests/factories.test.ts
  packages/errors/tests/index.test.ts
  packages/errors/tsup.config.ts
  packages/rpc-subscriptions/package.json
  packages/rpc-subscriptions/tsup.config.ts
  packages/rpc/package.json
  packages/rpc/tsup.config.ts
  packages/signers/package.json
  packages/signers/tsup.config.ts
  packages/sysvars/package.json
  packages/sysvars/tsup.config.ts
  packages/transaction-messages/package.json
  packages/transaction-messages/tsup.config.ts
  packages/transactions/package.json
  packages/transactions/tsup.config.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(errors): implement error mapping utilities for SDK-10
  packages/errors/src/codes.ts
  packages/errors/src/enhancer.ts
  packages/errors/src/error.ts
  packages/errors/src/index.ts
  packages/errors/src/recovery.ts
  packages/errors/src/rpc-mapper.ts
  packages/errors/src/validation-mapper.ts
  packages/errors/tests/enhancer.test.ts
  packages/errors/tests/index.test.ts
  packages/errors/tests/recovery.test.ts
  packages/errors/tests/rpc-mapper.test.ts
  packages/errors/tests/validation-mapper.test.ts
Due: eslint --fix, prettier --write

feat(errors): implement error mapping utilities for SDK-10 (#67)
  packages/errors/src/codes.ts
  packages/errors/src/enhancer.ts
  packages/errors/src/error.ts
  packages/errors/src/index.ts
  packages/errors/src/recovery.ts
  packages/errors/src/rpc-mapper.ts
  packages/errors/src/validation-mapper.ts
  packages/errors/tests/enhancer.test.ts
  packages/errors/tests/index.test.ts
  packages/errors/tests/recovery.test.ts
  packages/errors/tests/rpc-mapper.test.ts
  packages/errors/tests/validation-mapper.test.ts
Due: eslint --fix, prettier --write

test(errors): add comprehensive test coverage for error module
  packages/errors/tests/enhancer.test.ts
  packages/errors/tests/error.test.ts
  packages/errors/tests/index.test.ts
  packages/errors/tests/types.test.ts
  packages/errors/tests/validation-mapper.test.ts
  tasks.md
Due: eslint --fix, prettier --write

test(errors): add comprehensive test coverage for error module (#68)
  packages/errors/tests/enhancer.test.ts
  packages/errors/tests/error.test.ts
  packages/errors/tests/index.test.ts
  packages/errors/tests/types.test.ts
  packages/errors/tests/validation-mapper.test.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(codecs): define codec interface and implementation
  packages/codecs/src/codec.ts
  packages/codecs/src/composition.ts
  packages/codecs/src/errors.ts
  packages/codecs/src/index.ts
  packages/codecs/tests/codec.test.ts
Due: eslint --fix, prettier --write

feat(codecs): define codec interface and implementation (#69)
  .mcp.json
  packages/codecs/src/codec.ts
  packages/codecs/src/composition.ts
  packages/codecs/src/errors.ts
  packages/codecs/src/index.ts
  packages/codecs/tests/codec.test.ts
Due: eslint --fix, prettier --write

feat(codecs): define codec interface and implementation (#69)
  packages/codecs/src/codec.ts
  packages/codecs/src/composition.ts
  packages/codecs/src/errors.ts
  packages/codecs/src/index.ts
  packages/codecs/tests/codec.test.ts
Due: eslint --fix, prettier --write

feat(codecs): implement primitive codecs for SDK-13
  packages/codecs/src/index.ts
  packages/codecs/src/primitives/boolean.ts
  packages/codecs/src/primitives/bytes.ts
  packages/codecs/src/primitives/index.ts
  packages/codecs/src/primitives/numeric.ts
  packages/codecs/src/primitives/string.ts
  packages/codecs/tests/primitives/boolean.test.ts
  packages/codecs/tests/primitives/bytes.test.ts
  packages/codecs/tests/primitives/numeric.test.ts
  packages/codecs/tests/primitives/string.test.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(codecs): implement primitive codecs for SDK-13 (#70)
  packages/codecs/src/index.ts
  packages/codecs/src/primitives/boolean.ts
  packages/codecs/src/primitives/bytes.ts
  packages/codecs/src/primitives/index.ts
  packages/codecs/src/primitives/numeric.ts
  packages/codecs/src/primitives/string.ts
  packages/codecs/tests/primitives/boolean.test.ts
  packages/codecs/tests/primitives/bytes.test.ts
  packages/codecs/tests/primitives/numeric.test.ts
  packages/codecs/tests/primitives/string.test.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(codecs): implement composite codec utilities for SDK-14
  packages/codecs/src/composites/array.ts
  packages/codecs/src/composites/enum.ts
  packages/codecs/src/composites/index.ts
  packages/codecs/src/composites/lazy.ts
  packages/codecs/src/composites/option.ts
  packages/codecs/src/composites/struct.ts
  packages/codecs/src/index.ts
  packages/codecs/tests/composites/array.test.ts
  packages/codecs/tests/composites/enum.test.ts
  packages/codecs/tests/composites/integration.test.ts
  packages/codecs/tests/composites/lazy.test.ts
  packages/codecs/tests/composites/option.test.ts
  packages/codecs/tests/composites/struct.test.ts
Due: eslint --fix, prettier --write

feat(codecs): implement composite codec utilities for SDK-14 (#71)
  packages/codecs/src/composites/array.ts
  packages/codecs/src/composites/enum.ts
  packages/codecs/src/composites/index.ts
  packages/codecs/src/composites/lazy.ts
  packages/codecs/src/composites/option.ts
  packages/codecs/src/composites/struct.ts
  packages/codecs/src/index.ts
  packages/codecs/tests/composites/array.test.ts
  packages/codecs/tests/composites/enum.test.ts
  packages/codecs/tests/composites/integration.test.ts
  packages/codecs/tests/composites/lazy.test.ts
  packages/codecs/tests/composites/option.test.ts
  packages/codecs/tests/composites/struct.test.ts
Due: eslint --fix, prettier --write

test(codecs): implement comprehensive test suite for SDK-15
  packages/codecs/tests/composition.test.ts
  packages/codecs/tests/edge-cases.test.ts
  packages/codecs/tests/endianness.test.ts
  packages/codecs/tests/memory-leak.test.ts
  packages/codecs/tests/performance.test.ts
  packages/codecs/tests/property-testing.test.ts
  tasks.md
Due: eslint --fix, prettier --write

fix: increase performance test timeout for CI environments
  packages/codecs/tests/performance.test.ts
Due: eslint --fix, prettier --write

test(codecs): implement comprehensive test suite for SDK-15 (#72)
  packages/codecs/tests/composition.test.ts
  packages/codecs/tests/edge-cases.test.ts
  packages/codecs/tests/endianness.test.ts
  packages/codecs/tests/memory-leak.test.ts
  packages/codecs/tests/performance.test.ts
  packages/codecs/tests/property-testing.test.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(errors): implement tree-shakeable exports for improved bundle size
  packages/errors/package.json
  packages/errors/src/index.ts
  packages/errors/tsup.config.ts
Due: eslint --fix, prettier --write

feat(errors): implement tree-shakeable exports for improved bundle size (#73)
  packages/errors/package.json
  packages/errors/src/index.ts
  packages/errors/tsup.config.ts
Due: eslint --fix, prettier --write

feat(crypto): implement Ed25519 key generation and keypair management
  packages/crypto/package.json
  packages/crypto/src/compatibility.ts
  packages/crypto/src/index.ts
  packages/crypto/src/key-generation.ts
  packages/crypto/src/keypair.ts
  packages/crypto/src/types.ts
  packages/crypto/tests/compatibility.test.ts
  packages/crypto/tests/key-generation.test.ts
  packages/crypto/tests/keypair.test.ts
  packages/crypto/tests/performance.test.ts
  packages/errors/src/codes.ts
  packages/errors/src/error.ts
  packages/errors/src/recovery.ts
  packages/errors/tests/index.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(build): resolve type checking and build dependency order
  .github/workflows/ci.yml
Due: prettier --write

feat(crypto): implement Ed25519 key generation and keypair management (#74)
  .github/workflows/ci.yml
  packages/crypto/package.json
  packages/crypto/src/compatibility.ts
  packages/crypto/src/index.ts
  packages/crypto/src/key-generation.ts
  packages/crypto/src/keypair.ts
  packages/crypto/src/types.ts
  packages/crypto/tests/compatibility.test.ts
  packages/crypto/tests/key-generation.test.ts
  packages/crypto/tests/keypair.test.ts
  packages/crypto/tests/performance.test.ts
  packages/errors/src/codes.ts
  packages/errors/src/error.ts
  packages/errors/src/recovery.ts
  packages/errors/tests/index.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(crypto): implement message signing and signature verification
  packages/crypto/src/index.ts
  packages/crypto/src/signing.ts
  packages/crypto/src/types.ts
  packages/crypto/tests/signing.test.ts
  tasks.md
Due: eslint --fix, prettier --write

fix(crypto): resolve ESLint violations in signing tests
  packages/crypto/tests/signing.test.ts
Due: eslint --fix, prettier --write
