Repository GuiBibeau/photon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,mjs,cjs,json,yml,yaml}": ["prettier --write"]
}

fix(transactions): handle promise rejections properly in timeout tests
  packages/transactions/tests/send.test.ts
Due: eslint --fix, prettier --write

feat(transactions): add send transaction helper (SDK-48) (#105)
  packages/transactions/src/index.ts
  packages/transactions/src/send.ts
  packages/transactions/tests/send.test.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(accounts): implement account fetching functionality (SDK-51)
  packages/accounts/README.md
  packages/accounts/package.json
  packages/accounts/src/fetch.ts
  packages/accounts/src/index.ts
  packages/accounts/src/types.ts
  packages/accounts/tests/fetch.test.ts
  packages/accounts/tests/integration.test.ts
  packages/accounts/tests/types.test.ts
  packages/accounts/tsup.config.ts
  pnpm-lock.yaml
  tasks.md
Due: eslint --fix, prettier --write

fix(rpc): make requestIdMiddleware test less flaky
  packages/rpc/tests/middleware.test.ts
Due: eslint --fix, prettier --write

feat(accounts): implement account fetching functionality (SDK-51) (#106)
  packages/accounts/README.md
  packages/accounts/package.json
  packages/accounts/src/fetch.ts
  packages/accounts/src/index.ts
  packages/accounts/src/types.ts
  packages/accounts/tests/fetch.test.ts
  packages/accounts/tests/integration.test.ts
  packages/accounts/tests/types.test.ts
  packages/accounts/tsup.config.ts
  packages/rpc/tests/middleware.test.ts
  pnpm-lock.yaml
  tasks.md
Due: eslint --fix, prettier --write

feat(accounts): implement account data decoding (SDK-52)
  packages/accounts/package.json
  packages/accounts/src/common-accounts.ts
  packages/accounts/src/decode.ts
  packages/accounts/src/index.ts
  packages/accounts/tests/common-accounts.test.ts
  packages/accounts/tests/decode.test.ts
  packages/accounts/tsup.config.ts
Due: eslint --fix, prettier --write

fix: add ts-expect-error comments for nullable field variance issues
  packages/accounts/src/common-accounts.ts
Due: eslint --fix, prettier --write

feat(accounts): implement account data decoding (SDK-52) (#107)
  packages/accounts/package.json
  packages/accounts/src/common-accounts.ts
  packages/accounts/src/decode.ts
  packages/accounts/src/index.ts
  packages/accounts/tests/common-accounts.test.ts
  packages/accounts/tests/decode.test.ts
  packages/accounts/tsup.config.ts
Due: eslint --fix, prettier --write

feat(accounts): add comprehensive test coverage (SDK-53)
  packages/accounts/tests/fetch.test.ts
  packages/accounts/tests/index.test.ts
  tasks.md
Due: eslint --fix, prettier --write

docs: mark SDK-53 as completed in tasks.md
  tasks.md
Due: none

feat(accounts): add comprehensive test coverage (SDK-53) (#108)
  packages/accounts/tests/fetch.test.ts
  packages/accounts/tests/index.test.ts
  tasks.md
Due: eslint --fix, prettier --write

feat(sysvars): implement sysvar constants (SDK-54)
  packages/sysvars/package.json
  packages/sysvars/src/index.ts
  packages/sysvars/tests/sysvars.test.ts
  pnpm-lock.yaml
  tasks.md
Due: eslint --fix, prettier --write

feat(sysvars): implement sysvar constants (SDK-54) (#109)
  packages/sysvars/package.json
  packages/sysvars/src/index.ts
  packages/sysvars/tests/sysvars.test.ts
  pnpm-lock.yaml
  tasks.md
Due: eslint --fix, prettier --write

feat(sysvars): implement sysvar fetchers (SDK-55)
  packages/sysvars/package.json
  packages/sysvars/src/index.ts
  packages/sysvars/tests/sysvars.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(sysvars): implement sysvar fetchers (SDK-55) (#110)
  packages/sysvars/package.json
  packages/sysvars/src/index.ts
  packages/sysvars/tests/sysvars.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(sysvars): enhance test coverage to meet 80% branch requirement (SDK-56)
  packages/sysvars/tests/sysvars.test.ts
Due: eslint --fix, prettier --write

test(sysvars): enhance test coverage to meet 80% branch requirement (SDK-56) (#111)
  packages/sysvars/tests/sysvars.test.ts
Due: eslint --fix, prettier --write

feat: standardize build configuration and optimize tree-shaking across all packages
  BUILD_CONSISTENCY_REPORT.md
  README.md
  packages/accounts/package.json
  packages/addresses/tsup.config.ts
  packages/errors/package.json
  packages/rpc-subscriptions/package.json
  packages/signers/package.json
  packages/signers/tsup.config.ts
  packages/sysvars/package.json
  packages/sysvars/tsup.config.ts
  packages/transaction-messages/package.json
  packages/transaction-messages/tsup.config.ts
  packages/transactions/package.json
  packages/transactions/tsup.config.ts
Due: eslint --fix, prettier --write

Build consistency improvements (#112)
  BUILD_CONSISTENCY_REPORT.md
  README.md
  packages/accounts/package.json
  packages/addresses/tsup.config.ts
  packages/errors/package.json
  packages/rpc-subscriptions/package.json
  packages/signers/package.json
  packages/signers/tsup.config.ts
  packages/sysvars/package.json
  packages/sysvars/tsup.config.ts
  packages/transaction-messages/package.json
  packages/transaction-messages/tsup.config.ts
  packages/transactions/package.json
  packages/transactions/tsup.config.ts
Due: eslint --fix, prettier --write

feat(sandbox): add sandbox package for testing and development
  packages/sandbox/README.md
  packages/sandbox/package.json
  packages/sandbox/src/examples/addresses.ts
  packages/sandbox/src/examples/rpc.ts
  packages/sandbox/tsconfig.json
  packages/sandbox/tsup.config.ts
  packages/sandbox/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(sandbox): add missing index file and disable type declarations
  packages/sandbox/src/index.ts
  packages/sandbox/tsup.config.ts
Due: eslint --fix, prettier --write

fix: cleanup test suite and remove sandbox package
  .gitignore
  AGENTS.md
  packages/codecs/src/primitives/base58.ts
  packages/codecs/src/primitives/compact-u16.ts
  packages/integration/.gitignore
  packages/integration/README.md
  packages/integration/package.json
  packages/integration/src/index.ts
  packages/integration/test/README.md
  packages/integration/test/fixtures/accounts.ts
  packages/integration/test/fixtures/generate-accounts.ts
  packages/integration/test/integration/transfer.test.ts
  packages/integration/test/utils/helpers.ts
  packages/integration/test/utils/setup.ts
  packages/integration/test/utils/validator.ts
  packages/integration/tsconfig.json
  packages/integration/tsup.config.ts
  packages/integration/vitest.config.ts
  packages/rpc/src/transport.ts
  packages/sandbox/src/examples/addresses.ts
  packages/sandbox/src/examples/rpc.ts
  packages/sandbox/src/index.ts
  packages/sandbox/vitest.config.ts
  packages/transactions/src/compile.ts
  packages/transactions/src/send.ts
  packages/transactions/src/serialize.ts
  packages/transactions/tests/compile.test.ts
  packages/transactions/tests/integration.test.ts
  packages/transactions/tests/send.test.ts
  packages/transactions/tests/serialize.test.ts
  packages/transactions/tests/sign.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: skip integration tests in CI environment
  packages/integration/test/integration/transfer.test.ts
Due: eslint --fix, prettier --write

fix: resolve type error in transfer.test.ts by properly chaining transaction builders
  packages/integration/test/integration/transfer.test.ts
Due: eslint --fix, prettier --write

fix: update vite dependency and fix import issues in integration tests
  packages/integration/package.json
Due: prettier --write

chore: update pnpm-lock.yaml after vite version update
  pnpm-lock.yaml
Due: prettier --write

feat: exclude integration tests from CI runs
  .github/workflows/ci.yml
  package.json
  packages/integration/README.md
Due: prettier --write

fix: properly exclude integration tests from CI runs
  .mcp.json
  package.json
  vitest.workspace.ts
Due: eslint --fix, prettier --write

Fix/test suite cleanup (#114)
  .github/workflows/ci.yml
  .gitignore
  .mcp.json
  AGENTS.md
  package.json
  packages/codecs/src/primitives/base58.ts
  packages/codecs/src/primitives/compact-u16.ts
  packages/integration/.gitignore
  packages/integration/README.md
  packages/integration/package.json
  packages/integration/src/index.ts
  packages/integration/test/README.md
  packages/integration/test/fixtures/accounts.ts
  packages/integration/test/fixtures/generate-accounts.ts
  packages/integration/test/integration/transfer.test.ts
  packages/integration/test/utils/helpers.ts
  packages/integration/test/utils/setup.ts
  packages/integration/test/utils/validator.ts
  packages/integration/tsconfig.json
  packages/integration/tsup.config.ts
  packages/integration/vitest.config.ts
  packages/rpc/src/transport.ts
  packages/transactions/src/compile.ts
  packages/transactions/src/send.ts
  packages/transactions/src/serialize.ts
  packages/transactions/tests/compile.test.ts
  packages/transactions/tests/integration.test.ts
  packages/transactions/tests/send.test.ts
  packages/transactions/tests/serialize.test.ts
  packages/transactions/tests/sign.test.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: eslint --fix, prettier --write

feat: add dedicated integration test commands
  package.json
  packages/integration/test/integration/transfer.test.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write

feat: add dedicated integration test commands to package.json
  packages/integration/package.json
Due: prettier --write

feat: add dedicated integration test commands to package.json (#116)
  packages/integration/package.json
Due: prettier --write

feat(spl-token): define SPL Token program constants (SDK-57)
  packages/spl-token/package.json
  packages/spl-token/src/constants.ts
  packages/spl-token/src/index.ts
  packages/spl-token/tests/constants.test.ts
  packages/spl-token/tsconfig.json
  packages/spl-token/tsup.config.ts
  packages/spl-token/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add TypeScript declaration files to gitignore
  .gitignore
Due: none

fix(spl-token): disable tsup DTS generation to fix CI build
  packages/spl-token/tsconfig.json
  packages/spl-token/tsup.config.ts
Due: eslint --fix, prettier --write

fix(spl-token): update lint script for flat config compatibility
  packages/spl-token/package.json
Due: prettier --write

fix: remove console.log statements from integration tests
  packages/integration/test/fixtures/generate-accounts.ts
  packages/integration/test/integration/transfer.test.ts
  packages/integration/test/utils/setup.ts
  packages/integration/test/utils/validator.ts
Due: eslint --fix, prettier --write

fix(spl-token): add codecs alias to vitest config
  packages/spl-token/vitest.config.ts
Due: eslint --fix, prettier --write

fix(spl-token): temporarily skip lint to avoid ESLint version conflict
  packages/spl-token/package.json
Due: prettier --write

Sdk 57/spl token constants (#117)
  .gitignore
  packages/integration/test/fixtures/generate-accounts.ts
  packages/integration/test/integration/transfer.test.ts
  packages/integration/test/utils/setup.ts
  packages/integration/test/utils/validator.ts
  packages/spl-token/package.json
  packages/spl-token/src/constants.ts
  packages/spl-token/src/index.ts
  packages/spl-token/tests/constants.test.ts
  packages/spl-token/tsconfig.json
  packages/spl-token/tsup.config.ts
  packages/spl-token/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
